        <div class="footer__content">
            <div class="footer__info-n-contacts">
                <div class="footer__info">
					<div class="footer__logo"><a href="/"><img src="/{{ directory }}/dist/img/logo.svg" alt="Oldboy Barbershop vector logo" /></a></div>
                    <div class="footer__caption">
						<h2 class="footer__title">{{ drupal_entity('block_content', 2) }} {{ drupal_entity('block_content', 3) }}</h2>
                        <p class="footer__subtitle">Крупнейшая международная сеть мужских парикмахерских</p>
                        <p class="footer__text">Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.</p>
                    </div>
                </div>
                <div class="footer__contacts">
                    <div class="footer__social">
                        <p class="footer__social-cta">Следите за нами в соц. сетях</p>
                        <ul class="social social--golden">
                            <li class="social__item"><a class="social__icon icon--vk" href="{{ content.field_link_vk.0 }}">ВКонтакте</a></li>
                            <li class="social__item"><a class="social__icon icon--facebook" href="{{ content.field_link_facebook.0 }}">Facebook</a></li>
                            <li class="social__item"><a class="social__icon icon--instagram" href="{{ content.field_link_instagram.0 }}">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">Адрес</h3>
                        <p class="contact__value">{{ content.field_address.0 }}</p>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">Телефон</h3>
						{% set phonelink = content.field_phone.0 %}
						{% if content.field_phonelink.0 %}
							{% set phonelink = content.field_phonelink.0 %}
						{% endif %} 
						{% set phoneclass = 'ya-phone' %}
						{% if content.field_phone_class.0 %}
							{% set phoneclass = content.field_phone_class.0 %}
						{% endif %} 
						<div class="contact__value {{ phoneclass }}"><a href="tel:{{ phonelink }}">{{ content.field_phone.0 }}</a></div>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">Часы работы</h3>
                        <p class="contact__value">{{ content.field_work_hours.0 }}</p>
                    </div>
                    <div class="footer__city">{{ content.field_city.0 }}</div>
                </div>
            </div>
            <div class="footer__menues">
                <div class="footer__main-nav">
                    <h3 class="footer-menu__title">Меню</h3>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/">Главная</a></li>
						{#
                        <li class="footer-menu__item"><a class="footer-menu__link" href="">Новости</a></li>
						#}
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/#services">УСЛУГИ</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/franchising">ФРАНШИЗА</a></li>
                    </ul>
                </div>
                <div class="footer__services-nav">
                    <h3 class="footer-menu__title">Услуги</h3>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/services/haircut">СТРИЖКИ</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/services/royal-shaving">БРИТЬЁ</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/services/tattoo">ТАТУИРОВКИ</a></li>
						{#
                        <li class="footer-menu__item"><a class="footer-menu__link" href="">Барбер-спа</a></li>
						#}
                    </ul>
                </div>
                <div class="footer__info-nav">
                    <h3 class="footer-menu__title">Информация</h3>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/privacy">Политка конфиденциальности</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="/terms">Условия использования</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyrights">
            <p>© 2014–{{ 'now'|date('Y') }} Oldboy Barbershop</p>
        </div>
