{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
{% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %}

string(5) "title"
string(11) "field_metro"
string(11) "field_place"
{{ dpm(fields['title'].content) }}
{{ dpm(fields['field_metro'].content|render|striptags|trim) }}



	<a class="chosen-branch__button" href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{ fields['field_address'].content|render|striptags|trim }}</a>
#}

<li class="location-list__item">
	{% if fields['field_address'].content|striptags|trim %}
		<a class="location-list__link" href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{ fields['field_address'].content|render|striptags|trim }}</a>
	{% else %}
		{{ fields['title'].content }}
	{% endif %}
	{% if fields['field_place'].content|striptags|trim %}
		<div class="location-list__place">{{ fields['field_place'].content|render|striptags|trim }}</div> 
	{% endif %}
	{% if fields['field_metro'].content|striptags|trim %}
        {% set mClassDefault='location-list__metro' %}
        {% set mArrClass= [] %}
		{% set stations = fields['field_metro'].content|render|striptags|trim|split("\n") %}
		{% for station in stations %}
			{% if station %}
                {% set mClass = mClassDefault %}
                {% set mm2 = '' %}
                {% set mm1 = station|split('(') %}
                {% if mm1 %}
                    {% set mm2 = mm1[1]|split(')') %}
                    {% if mm2[0] %}
                        {% set mClass=mm2[0] %}
                    {% endif %}
                {% endif %}
                {% set mArrClass = mArrClass|merge([{ metro: mm1[0], style: mClass}]) %}
            {% endif %}
        {% endfor %}

        <div class="location-list__metro">
		{% for station in mArrClass %}
			{% if station %}
                {% set mClass = station.style %}
                {% set secName = station.metro %}
				<span class="{{ mClass }}">{{ secName }}</span>
			{% endif %}
		{% endfor %}
            {#
		{% for station in stations %}
			{% if station %}
                {% set secName = station|split('(') %}
				<span class="{{ mClass }}">{{ secName[0] }}</span>
			{% endif %}
		{% endfor %}
        #}
	</div>
	{% endif %}
</li>

