        <div class="footer__content">
            <div class="footer__info-n-contacts">
                <div class="footer__info">
					<div class="footer__logo"><a href="/"><img src="/{{ directory }}/dist/img/logo.svg" alt="Oldboy Barbershop vector logo" /></a></div>
                    <div class="footer__caption">
						<h2 class="footer__title">{{ drupal_entity('block_content', 2) }} {{ drupal_entity('block_content', 3) }}</h2>
                        <p class="footer__subtitle">{{ 'The largest Barbershop network'|trans }}</p>
                        <p class="footer__text">{{ 'Oldboy barbershop is a lot more than just a man\'s hairdresser, it is even far more than a social club for men, it is excatly the place where you will find yourself and your identity.'|trans }}</p>
                    </div>
                </div>
                <div class="footer__contacts">
                    <div class="footer__social">
                        <p class="footer__social-cta">{{ 'Follow us in social networks'|trans }}</p>
                        <ul class="social social--golden">
                            <li class="social__item"><a class="social__icon icon--vk" href="{{ content.field_link_vk.0 }}">VK</a></li>
                            <li class="social__item"><a class="social__icon icon--facebook" href="{{ content.field_link_facebook.0 }}">Facebook</a></li>
                            <li class="social__item"><a class="social__icon icon--instagram" href="{{ content.field_link_instagram.0 }}">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">{{ 'Address'|trans }}</h3>
                        <p class="contact__value">{{ content.field_address.0 }}</p>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">{{ 'Phone'|trans }}</h3>
						{% set phonelink = content.field_phone.0 %}
						{% if content.field_phonelink.0 %}
							{% set phonelink = content.field_phonelink.0 %}
						{% endif %} 
						<p class="contact__value"><a href="tel:{{ phonelink }}">{{ content.field_phone.0 }}</a></p>
                    </div>
                    <div class="contact contact--footer">
                        <h3 class="contact__title">{{ 'Hours'|trans }}</h3>
                        <p class="contact__value">{{ content.field_work_hours.0 }}</p>
                    </div>
                    <div class="footer__city">{{ content.field_city.0 }}</div>
                </div>
            </div>
            <div class="footer__menues">
                <div class="footer__main-nav">
                    <ul class="footer-menu">
                        <h3 class="footer-menu__title">{{ 'Menu'|trans }}</h3>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ url('<front>')  }}">{{ 'MAIN'|trans }}</a></li>
						{#
                        <li class="footer-menu__item"><a class="footer-menu__link" href="">НОВОСТИ</a></li>
						#}
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ url('<front>')  }}#services">{{ 'SERVICES'|trans }}</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 9})   }}">{{ 'FRANCHISE'|trans }}</a></li>
                    </ul>
                </div>
                <div class="footer__services-nav">
                    <ul class="footer-menu">
                        <h3 class="footer-menu__title">{{ 'Services'|trans }}</h3>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 7})   }}">{{ 'HAIRCUTS'|trans }}</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 5})   }}">{{ 'SHAVING'|trans }}</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 6})   }}">{{ 'TATTOO'|trans }}</a></li>
						{#
                        <li class="footer-menu__item"><a class="footer-menu__link" href="">БАРБЕР-СПА</a></li>
						#}
                    </ul>
                </div>
                <div class="footer__info-nav">
                    <ul class="footer-menu">
                        <h3 class="footer-menu__title">{{ 'Info'|trans }}</h3>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 3})   }}">{{ 'PRIVACY POLICY'|trans }}</a></li>
                        <li class="footer-menu__item"><a class="footer-menu__link" href="{{ path('entity.node.canonical', {'node': 4})   }}">{{ 'TERMS AND CONDITIONS'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyrights">
            <p>© 2014–{{ 'now'|date('Y') }} Oldboy Barbershop</p>
        </div>
