                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item"><a class="main-nav__link" href="{{ url('<front>')  }}">{{ 'Main'|trans }}</a></li>
						{# <!--<li class="main-nav__item"><a class="main-nav__link" href="#">Новости</a></li>--> #}
                        <li class="main-nav__item"><a class="main-nav__link" href="{{ url('<front>')  }}#services">{{ 'Services'|trans }}</a></li>
                        <li class="main-nav__item"><a class="main-nav__link" href="{{ path('entity.node.canonical', {'node': 9})   }}">{{ 'Franchise'|trans }}</a></li>
                    </ul>
                </nav>
