{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{#
<pre>
{{ fields.title.content }}
{{ fields.field_sub_text.content }}
{{ fields.field_bg.content }}
{{ fields.field_price.content }}
</pre>
#}

{% set name = fields.title.content %}
{# set display_name = fields.field_display_name.content|render|striptags|trim #}
{% set display_name = row._entity.field_display_name.0.value %}

{% if display_name|trim %}
	{% set name = display_name %}
{% endif %}

                    <header class="promo__header">
                        <p class="promo__service">Комплексная услуга</p>
                        <div class="promo__bottom">
                            <p class="promo__price">{{ fields.field_price.content }}</p>
                            <p class="promo__name">{{ name|raw }}</p>
                        </div>
                    </header>
                    <div class="promo__image">
                    {#<img src="./img/promos/dad-n-son.jpg" alt="Отец и сын, комплексная услуга Oldboy Barbershop">#}
                    {{ fields.field_bg.content }}
                    </div>
                    <div class="promo__description">
                        <p class="promo__tip">Описание услуги</p>
                        <h3 class="promo__title">{{ name|raw }}</h3>
                        <div class="promo__text">
                            {% if fields.body.content  %}
                                {{ fields.body.content }}
                            {% endif %}
                        </div>
                    </div>

