{#
/**
 *
 *  	FRONT PAGE TEMPLATE
 *
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

    {% set academy = drupal_entity('block_content', 1) %}
    {% set brabercount = drupal_entity('block_content', 2) %}
    {% set braberplaces = drupal_entity('block_content', 3) %}
    <header class="hero hero--main">
        <div class="hero__top">
            <div class="hero__logo"><img src="/{{ directory }}/dist/img/logo.svg" alt="{{ 'Oldboy Barbershop vector logo'|trans }}" title="{{ 'Oldboy Barbershop Main Page'|trans }}" /></div>
            <div class="hero__nav hero__nav--hidden">
                <nav class="main-nav">
                    {% include '@oldboy8/includes/topmenu.html.twig' %}
                </nav>
            </div>
            {% include '@oldboy8/includes/topcity.html.twig' %}
        </div>
        <div class="hero__content">
            {{ content.field_hero_content }}
        </div>
    </header>
    <main>
        <section class="services" id="services">
            <div class="services__header">
                <header class="section-header">
                    <h2 class="section-header__title">{{ 'Barbershop <br>Services'|trans }}</h2>
                    <p class="section-header__subtitle section-header__subtitle--golden-t">{{ 'Haircuts&nbsp;and&nbsp;Shaving'|trans }}</p>
                </header>
            </div>
            <div class="services__content">
                <div class="services__main">
                    <article class="service-main service-main--haircut">
                        <header class="service-main__header">
                            <h3 class="service-main__title">{{ 'Men\'s<br> <strong>Haircuts</strong>'|trans }}</h3>
                            <p class="service-main__subtitle">{{ 'Best quality'|trans }}</p>
                        </header>
                        <div class="service-main__button"><a class="button button--ghost" href="{{ path('entity.node.canonical', {'node': 7})   }}">{{ 'All about haircuts'|trans }}</a></div>
                    </article>
                    <article class="service-main service-main--beard">
                        <header class="service-main__header">
                            <h3 class="service-main__title">{{ 'Moustache<br> <strong>and&nbsp;Beard Grooming'|trans }}</strong></h3>
                            <p class="service-main__subtitle">{{ 'Our specialization'|trans }}</p>
                        </header>
                        <div class="service-main__button"><a class="button button--ghost" href="{{ path('entity.node.canonical', {'node': 27})   }}">{{ 'Moustache and Beard'|trans }}</a></div>
                    </article>
                </div>
                <div class="services__secondary">
                    <article class="service-item service-item--shaving">
                        <header class="service-item__header">
                            <p class="service-item__subtitle">{{ 'Style and Mastership'|trans }}</p>
                            <h3 class="service-item__title"><strong>{{ 'Beard and Head</strong><br>Shaving'|trans }}</h3>
                        </header>
                        <div class="service-item__button"><a class="button button--ghost-dark" href="{{ path('entity.node.canonical', {'node': 28})   }}">{{ 'Shaving Services'|trans }}</a></div>
                    </article>
                    <article class="service-item service-item--royal">
                        <div class="service-item__header">
                            <p class="service-item__subtitle">{{ 'For true Connoisseurs'|trans }}</p>
                            <h3 class="service-item__title">{{ '<strong>Royal</strong><br> Shaving'|trans }}</h3>
                        </div>
                        <div class="service-item__button"><a class="button button--ghost-dark" href="{{ path('entity.node.canonical', {'node': 5})   }}">{{ 'For Connoisseurs'|trans }}</a></div>
                    </article>
                    <article class="service-item service-item--tattoo">
                        <div class="service-item__header">
                            <p class="service-item__subtitle">{{ 'Best Professionals'|trans }}</p>
                            <h3 class="service-item__title">{{ '<strong>Tattoo</strong><br>Services'|trans }}</h3>
                        </div>
                        <div class="service-item__button"><a class="button button--ghost-dark" href="{{ path('entity.node.canonical', {'node': 6})   }}">{{ 'Tattoo shop'|trans }}</a></div>
                    </article>
                    <article class="service-item service-item--spa">
                        <div class="service-item__header">
                            <p class="service-item__subtitle">{{ 'Comprehensive Care'|trans }}</p>
                            <h3 class="service-item__title">{{ '<strong>Barber-Spa</strong><br>Services'|trans }}</h3>
                        </div>
                        <div class="service-item__button"><a class="button button--disabled" href="#">{{ 'coming soon'|trans }}</a></div>
                    </article>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            {{ content|without('field_hero_content')|without('field_hide_footer') }}
        </section>

        {{ academy }}

        <section class="franchise" id="franchise">
            <div class="franchise__header">
                <header class="section-header">
                    <h2 class="section-header__title">{{ 'Branch <br>Map'|trans }}</h2>
                    <p class="section-header__subtitle">{{ 'Oldboy&nbsp;Network'|trans }}</p>
                </header>
            </div>
            <div class="franchise__content">
            <div class="franchise__map"><img src="/{{ directory }}/dist/img/franchise-map.svg" alt="{{ 'Oldboy barbershop locations map'|trans }}" /></div>
                <div class="franchise__caption">
                    <h3 class="franchise__title">{{ '<strong>Franchise</strong> Oldboy&nbsp;Barbershop'|trans }}</h3>
                    <div class="franchise__button"><a class="button" href="{{ path('entity.node.canonical', {'node': 9})   }}">{{ 'Open your Barbershop'|trans }}</a></div>
                </div>
                {# <a class="franchise__logo" href="{{ path('entity.node.canonical', {'node': 9})   }}"><img src="/{{ directory }}/dist/img/franch.svg" alt="Oldboy Franchise logo" /></a> #}
                <div class="franchise__summary">
                    <p class="franchise__count">{{ brabercount }}</p>
                    <p class="franchise__details">{{ braberplaces }}</p>
                </div>
            </div>
        </section>
		{% include '@oldboy8/includes/totop.html.twig' %}
    </main>
    {% include '@oldboy8/includes/locations.html.twig' %}
    <footer class="footer">
        {% include '@oldboy8/includes/footer.html.twig' %}
    </footer>

    <script src="/{{ directory }}/dist/scripts.js"></script>
    <script src="/{{ directory }}/dist/main.js"></script>
